<!DOCTYPE html>
<html lang="en" ng-app="gog">
<head>
    <meta charset="UTF-8">
    <title>The GOG project</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script>
        var nameApp = angular.module('gog', []);
        nameApp.controller('gogCtrl', function ($scope, $http) {

            $http.get('repositories').success(function (data) {
                $scope.repositories = data;
            });

            $scope.grep = function () {
                grepRequest = {
                    'wanted': $scope.wanted,
                    'repositories': $scope.multipleSelect
                }
                $http.post('grep', grepRequest).success(function (data) {
                    $scope.greps = data;
                });
            }
        });
    </script>
</head>
<body ng-controller="gogCtrl">
<h1>Welcome to GOG project</h1>

Provide text to search for:
<br>

<form ng-submit="grep()">
    <input type="text" ng-model="wanted">
    <input type="submit" value="go!">
</form>

<br>
Choose repository:
<br>
<select name="repositories" ng-model="multipleSelect" multiple>
    <option ng-repeat="repository in repositories track by $index" value="{{repository}}" selected>{{repository}}
    </option>
</select>
<br>
multipleSelect = {{multipleSelect}}
<br>
<br>
<code>
    <span ng-repeat="grep in greps track by $index">{{grep}}<br></span>
</code>
</body>
</html>