<!DOCTYPE html>
<html lang="en" ng-app="yagga">
<head>
    <meta charset="UTF-8">
    <title>yagga</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.min.js"></script>
    <script src="yagga.js"type=""></script>
</head>
<body ng-controller="yaggaCtrl">
<h1 style="font-family: monospace">$ YAGGA</h1>

Provide text to search for:
<br/>

<form ng-submit="grep()">
    <input type="text" ng-model="wanted" ng-trim="false">
    <br/>
    <input type="checkbox" ng-model="ignoreCase"> <font size="-1">Ignore case</font>
    <br/>
    <br/>
    Choose repositories:
    <br/>
    <input type="checkbox" ng-model="selected" ng-change="selectAll(selected)"> <font size="-1">all</font>
    <br/>
    <select name="repositories" ng-model="multipleSelect" multiple ng-options="repository for repository in repositories | orderBy:'+'" ng-change="deselectCheckbox()"></select>
    <br/>
    <br/>
    <input type="submit" value="Search">
</form>
<br/>
Results:
<br/>
<code>
    <span style="white-space: nowrap" ng-repeat="grep in greps track by $index">[{{grep.repository}}] {{grep.file}}:{{grep.lineNumber}} {{grep.matchedTextLine}}
        <a target="_blank" ng-href="preview.html#?repository={{grep.repository}}&file={{escape(grep.file)}}">[Preview]</a>
        <br/>
    </span>
    {{message}}
</code>

</body>
</html>
