<!DOCTYPE html>
<html lang="en" ng-app="gog">
<head>
    <meta charset="UTF-8">
    <title>The GOG project</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.min.js"></script>
    <script>
        var nameApp = angular.module('gog', []);
        nameApp.controller('gogCtrl', function ($scope, $http) {

            $http.get('repositories').success(function (data) {
                $scope.repositories = data;
            });

            $scope.selectAll = function (selected) {
                if (selected) {
                    $scope.multipleSelect = $scope.repositories;
                }
            }

            $scope.deselectCheckbox = function () {
                $scope.selected = false;
            }

            $scope.grep = function () {
                if ($scope.wanted == null || $scope.multipleSelect == null) {
                    return false;
                }

                $scope.greps = "";

                grepRequest = {
                    'wanted': $scope.wanted,
                    'repositories': $scope.multipleSelect
                }
                $http.post('grep', grepRequest).success(function (data) {
                    $scope.greps = data;
                });
            }
        });
    </script>
</head>
<body ng-controller="gogCtrl">
<h1 style="font-family: monospace">$ Git Online Grep</h1>

Provide text to search for:
<br/>

<form ng-submit="grep()">
    <input type="text" ng-model="wanted" ng-trim="false">
    <br/>
    <br/>
    Choose repositories:
    <br/>
    <input type="checkbox" ng-model="selected" ng-change="selectAll(selected)"> <font size="-1">all</font>
    <br/>
    <select name="repositories" ng-model="multipleSelect" multiple ng-options="repository for repository in repositories | orderBy:'+'" ng-change="deselectCheckbox()"></select>
    <br/>
    <br/>
    <input type="submit" value="Search">
</form>
<br/>
Results:
<br/>
<code>
    <span style="white-space: nowrap" ng-repeat="grep in greps track by $index">{{grep}}<br/></span>
</code>
</body>
</html>