<!DOCTYPE html>
<html lang="en" ng-app="yagga" ng-controller="yaggaPreviewCtrl">
<head>
    <meta charset="UTF-8">
    <title>[{{params.repository}}] {{params.file}}</title>

    <script src="angular/angular-1.2.28.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"
            type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js" type="text/javascript"></script>
    <script src="yagga/js/preview.js" type="text/javascript"></script>
    <link href="yagga/css/yagga.css" rel="stylesheet">

</head>
<body style="padding: 0px; margin: 0px">
<div id="viewTitle">
    <div style="float: left; width: 80%"><h1>&nbsp; <span style="color: #3a8ea1">[{{params.repository}}]</span>
        {{params.file}}</h1></div>
    <div style="text-align: right; padding-right: 2em;">
        <img src="yagga/images/close_annotate.png" width="30" ng-click="switchAnnotations()" alt="{{annotationsLabel[annotations]}}" title=""/>
    </div>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="annotate" style="margin-top: 3em">
    <tbody>
    <tr ng-repeat="annotation in annotate.annotationResponseLines track by $index">
        <td class="noselect annotateInfoLight" ng-show="annotations == 1">
            <pre>{{annotation.commitId}}</pre>
        </td>
        <td class="noselect annotateInfo" ng-show="annotations == 1">
            <pre>{{annotation.author}}</pre>
        </td>
        <td class="noselect annotateInfoLight" ng-show="annotations == 1">
            <pre>{{annotation.commitDate}}</pre>
        </td>
        <td class="noselect lineNumber">
            <pre>{{annotation.lineNumber}}</pre>
        </td>
        <td class="code">
            <prettify target="annotation"><code class="prettyprint">{{target.line}}</code></prettify>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
